# vim: set syntax=yaml ts=2 sw=2 sts=2 et :

package-name:       qubes-mgmt-salt-user-nrgaway-vm
name:               nrgaway-user-formula
top_level_dir:      nrgaway
formula-files:      README.rst LICENSE nrgaway
pillar-files:       pillar
test-formula-files: 
test-pillar-files: 
formula_root:       /srv/formulas
saltenv:            user
version:            3.0.0
release:            1
os:                 RedHat, Debian, Ubuntu, Suse, FreeBSD
os_family:          RedHat, Debian, Suse, FreeBSD
summary:            Nrgaway's personal mgmt-salt VM configuration
description: |
  Nrgaway's personal mgmt-salt VM configuration

state-tops:
  user:
    enable:
      - nrgaway
